{% extends 'layout.html' %}
{% block content %}
<div>


    <div class="list">
        <ul>
            <li>
                <p>name of territory</p>
            </li>
            <li>
                <p>name of territory</p>
            </li>
            <li>
                <p>name of territory</p>
            </li>
            <li>
                <p>name of territory</p>
            </li>
        </ul>
    </div>
    
        <div id="map">

        </div>
        <div class="calculation-box">
                <p>Draw a polygon using the draw tools.</p>
                <div id="calculated-area">

                </div>
        </div>
    
    
</div>
{% endblock %}